/* COLORS */

$link-color: #096f95;
$link-hover-color: #178cb8;
$link-active-color: #28abdc;

$text-positive-color: #3b9604;
$text-notice-positive-color: #456407;
$text-negative-color: #840606;
$text-alert-color: #bd6c02;
$text-notice-color: #08526e;

$flash-positive-color: rgba(158,207,128,.5);
$flash-negative-color: rgba(220,112,130,.5);
$flash-notice-color: rgba(82,175,210,.5);