/* MIXINS */

@mixin rounded($side, $radius: 12px) {
  border-#{$side}-radius: $radius;
  -moz-border-radius-#{$side}: $radius;
  -webkit-border-#{$side}-radius: $radius;
}

@mixin roundedbox($radius: 12px) {
    border-radius: $radius;
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
}

@mixin shadowedbox($l: 0, $t: 0, $blur: 5px, $spread: 0, $opacity: 1) {
    -moz-box-shadow: $l $t $blur $spread rgba(0,0,0,$opacity);
    -webkit-box-shadow: $l $t $blur $spread rgba(0,0,0,$opacity);
    box-shadow: $l $t $blur $spread rgba(0,0,0,$opacity);
}

@mixin insetshadowed($l: 0, $t: 0, $blur: 5px, $opacity: 1, $r: 0, $g: 0, $bl: 0) {
    -moz-box-shadow: inset $l $t $blur rgba($r,$g,$bl,$opacity);
    -webkit-box-shadow: inset $l $t $blur rgba($r,$g,$bl,$opacity);
    box-shadow: inset $l $t $blur rgba($r,$g,$bl,$opacity);
}

@mixin headergradient {
    background: rgb(247,247,247);
    background: -moz-linear-gradient(top, rgb(247,247,247) 0%, rgb(193,193,193) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(247,247,247)), color-stop(100%,rgb(193,193,193)));
    background: -webkit-linear-gradient(top, rgb(247,247,247) 0%,rgb(193,193,193) 100%);
    background: -o-linear-gradient(top, rgb(247,247,247) 0%,rgb(193,193,193) 100%);
    background: -ms-linear-gradient(top, rgb(247,247,247) 0%,rgb(193,193,193) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#c1c1c1',GradientType=0 );
    background: linear-gradient(top, rgb(247,247,247) 0%,rgb(193,193,193) 100%);
}

@mixin whitets($opacity: 1) {
    text-shadow: 0 1px 0 rgba(255,255,255,$opacity);
}

@mixin blackts($opacity: 1) {
    text-shadow: 0 -1px 0 rgba(0,0,0,$opacity);
}

@mixin inputshadow {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .15);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .15);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .15);
}

@mixin greybutton {
//  color: #606060;
	border: solid 1px #b7b7b7;
	background: #ddd;
	background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#bbb));
	background: -moz-linear-gradient(top,  #eee,  #bbb);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#bbbbbb');
}

@mixin orangebutton {
	color: #825300;
	border: solid 1px #ae7107;
	background: #d59629;
	background: -webkit-gradient(linear, left top, left bottom, from(#f7bd59), to(#d59629));
	background: -moz-linear-gradient(top,  #f7bd59,  #d59629);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7bd59', endColorstr='#d59629');
}

@mixin greenbutton {
	color: #456407;
	border: solid 1px #6b9a0d;
	background: #cde69c;
	background: -webkit-gradient(linear, left top, left bottom, from(#cde69c), to(#a5d24a));
	background: -moz-linear-gradient(top,  #cde69c,  #a5d24a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#cde69c', endColorstr='#a5d24a');
}

@mixin headline {
    font-size: 24px;
    font-weight: normal;
}

@mixin subhead {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 2px;
}

