/* IMPORTS */

@import "mixins";
@import "colors";
@import "flashmessages";
@import "errors";




/* STYLES */

/* basic */


a, a:visited {
    color: $link-color;   
    text-decoration: none    
}
a:hover {
    color: $link-hover-color;
}
a:active {
    color: $link-active-color;
}
em {
    font-style: oblique;
}
span.positive {
    color: $text-positive-color;
    font-weight: bold;
}
span.alert {
    color: $text-alert-color;
    font-weight: bold;    
}
span.negative {
    color: $text-negative-color;
    font-weight: bold;
}

/* end basic */


/* body */

body {
    
    background-color: #333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.0078125);   
    position: relative;

}

body.modal {
    
    background-image: url('../images/body_bg_tile_dark.gif')
    
}


h1.logo {
    
    height: 29px;
    width: 172px;
    background-image: url('../images/streamrollr_small_logo.png');
    background-repeat: no-repeat;
    margin: 28px 0 0;
    
}

body.modal h1.logo {
    
    margin: 48px auto;
    
}

/* end body */


/* forms */

input[type="text"], input[type="password"], input[type="email"], textarea {

    padding: 7px 6px;
    font-size: 18px;
    border: 1px solid #C6C6C6;
    background-color: #F4F4F4;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    @include roundedbox(4px);
    @include inputshadow;
    display: block;

}

/* end forms */



#playlist-container {
  
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 120px;
  background-color: rgba(0,0,0,.5);
  
  img {
    height: 80px;
    width: 80px;
    border: 3px solid #ccc;
    float: left;
    margin-left: 12px;
  }
  
}
