/* IMPORTS */
/* MIXINS */
/* COLORS */
.flash-message {
  padding: 18px;
  width: 784px;
  margin: 12px 70px 0;
  background-color: #fff;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px; }
  .flash-message p {
    font-size: 16px;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4); }

.flash-message.modal {
  width: auto;
  margin: 0;
  margin-bottom: 18px; }
  .flash-message.modal p {
    font-size: 14px;
    font-weight: normal; }

.flash-message.confirm {
  color: #456407;
  background-color: rgba(158, 207, 128, 0.5); }

.flash-message.error,
.flash-message.alert {
  color: #840606;
  background-color: rgba(220, 112, 130, 0.5); }

.flash-message.notice {
  color: #08526e;
  background-color: rgba(82, 175, 210, 0.5); }

#error_explanation {
  border: 1px solid #840606;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  margin-bottom: 20px;
  background-color: #fbfaf8;
  padding: 12px; }
  #error_explanation h2 {
    margin-bottom: 8px; }
  #error_explanation li {
    list-style-type: none;
    color: #840606; }

/* STYLES */
/* basic */
em {
  font-style: oblique; }

span.positive {
  color: #3b9604;
  font-weight: bold; }

span.alert {
  color: #bd6c02;
  font-weight: bold; }

span.negative {
  color: #840606;
  font-weight: bold; }

/* end basic */
/* body */
body {
  background-color: #171717;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.008);
  position: relative;
  background-image: url("../images/bg.jpg");
  background-position: center 25%;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
  text-shadow: 0 -1px 0 black; }

body.modal {
  background-image: url("../images/body_bg_tile_dark.gif"); }

h1.logo {
  height: 29px;
  width: 172px;
  background-image: url("../images/streamrollr_small_logo.png");
  background-repeat: no-repeat;
  margin: 28px 0 0; }

body.modal h1.logo {
  margin: 48px auto; }

/* end body */
/* forms */
input[type="text"], input[type="password"], input[type="email"], textarea {
  padding: 7px 6px;
  font-size: 36px;
  border: 1px solid #C6C6C6;
  background-color: #F4F4F4;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
  display: block;
  width: 480px; }

input[type="submit"] {
  margin-top: 18px; }

/* end forms */
h1 {
  color: #fff;
  font-weight: 300;
  font-size: 34px;
  margin-bottom: 18px; }

p {
  font-size: 18px;
  line-height: 24px;
  color: #ccc;
  margin-bottom: 12px; }

label {
  color: #666;
  font-size: 13px;
  margin-bottom: 8px;
  display: inline-block; }

header {
  margin-top: 24px; }

#text-container {
  width: 600px;
  margin: 12px auto; }

#social-stuff {
  margin-bottom: 36px;
  text-align: center; }

#forms-container {
  width: 480px;
  margin: 48px auto; }

#loader-container {
  display: none;
  position: absolute;
  top: 340px;
  left: 50%; }

#vs-container {
  margin: 0 auto; }

.artist-block {
  float: left;
  margin: 24px 46px; }
  .artist-block img {
    border: 1px solid #ccc; }
  .artist-block .img-container {
    padding: 8px;
    background-color: #fff;
    -moz-box-shadow: 0 0 10px 5px black;
    -webkit-box-shadow: 0 0 10px 5px black;
    box-shadow: 0 0 10px 5px black;
    max-width: 216px; }
  .artist-block p, .artist-block h2 {
    width: 200px;
    margin: 12px auto 0; }
  .artist-block h2 {
    margin-top: 24px;
    font-size: 21px;
    font-weight: bold;
    display: block; }
  .artist-block p {
    margin-top: 6px; }
  .artist-block a {
    color: #fff;
    display: block; }
  .artist-block .controls {
    margin-left: 56px;
    margin-top: 12px; }

#battle-container {
  margin: 0 auto;
  width: 640px; }
  #battle-container .vs {
    display: block;
    margin-top: 150px;
    float: left; }

#playlist-container {
  width: 100%;
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  bottom: 0;
  left: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.75); }
  #playlist-container .playlist-header {
    margin: 12px 0; }
    #playlist-container .playlist-header a {
      color: #ff7800;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
      text-decoration: none; }
  #playlist-container img {
    height: 80px;
    width: 80px;
    border: 3px solid #ccc;
    float: left;
    margin-left: 12px; }
  #playlist-container #playlist-main {
    overflow: scroll-y; }
  #playlist-container .list-item {
    padding: 12px 18px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2); }
    #playlist-container .list-item .info-holder {
      float: left;
      text-align: left;
      font-size: 28px; }
    #playlist-container .list-item .image-holder {
      float: left;
      text-align: left;
      margin-right: 12px;
      font-size: 18px; }
    #playlist-container .list-item .image-holder img {
      width: 120px;
      height: 120px; }
  #playlist-container #playlist-share {
    display: none;
    padding: 12px;
    text-align: left;
    margin: 24px;
    background-color: #000;
    border: 1px solid #222; }
    #playlist-container #playlist-share h3 {
      display: block;
      font-size: 24px;
      font-weight: 300;
      margin-bottom: 12px; }

#playlist-container.static {
  height: 100%;
  background-color: transparent;
  margin: 0; }
  #playlist-container.static #playlist-share {
    background-color: rgba(0, 0, 0, 0.6);
    display: block; }
  #playlist-container.static #playlist-main {
    margin-top: 20px; }
