/* MIXINS */
/* VARS */
/* STYLES */
body {
  background-color: #f6f4e8;
  background-image: url("../images/body_bg_tile.gif");
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.008); }

body.modal {
  background-image: url("../images/body_bg_tile_dark.gif"); }

a, a:visited {
  color: #096f95;
  text-decoration: none; }

a:hover {
  color: #178cb8; }

a:active {
  color: #28abdc; }

em {
  font-style: oblique; }

span.positive {
  color: #3b9604;
  font-weight: bold; }

span.alert {
  color: #bd6c02;
  font-weight: bold; }

span.negative {
  color: #840606;
  font-weight: bold; }

h1.logo {
  height: 29px;
  width: 172px;
  background-image: url("../images/streamrollr_small_logo.png");
  background-repeat: no-repeat;
  margin: 28px 0 0; }

body.modal h1.logo {
  margin: 48px auto; }

.flash-message {
  padding: 18px;
  width: 784px;
  margin: 12px 70px 0;
  background-color: #fff;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px; }
  .flash-message p {
    font-size: 16px;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4); }

.flash-message.modal {
  width: auto;
  margin: 0;
  margin-bottom: 18px; }
  .flash-message.modal p {
    font-size: 14px;
    font-weight: normal; }

.flash-message.confirm {
  color: #456407;
  background-color: rgba(158, 207, 128, 0.5); }

.flash-message.error,
.flash-message.alert {
  color: #840606;
  background-color: rgba(220, 112, 130, 0.5); }

.flash-message.notice {
  color: #08526e;
  background-color: rgba(82, 175, 210, 0.5); }

#error_explanation {
  border: 1px solid #840606;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  margin-bottom: 20px;
  background-color: #fbfaf8;
  padding: 12px; }
  #error_explanation h2 {
    margin-bottom: 8px; }
  #error_explanation li {
    list-style-type: none;
    color: #840606; }

header {
  background-color: #185266;
  height: 84px;
  border-bottom: 4px solid #15495b; }
  header h1.logo {
    float: left; }
  header ul.user-nav {
    float: right;
    margin-top: 36px; }
  header ul li {
    display: inline;
    list-style-type: none; }
  header ul.site-nav {
    float: left;
    margin-top: 36px;
    margin-left: 24px; }
  header ul.user-nav li a {
    margin-left: 12px;
    color: #fff;
    font-size: 11px;
    font-weight: bold; }
  header ul.site-nav li a {
    margin-left: 8px;
    color: #8adaf6;
    padding: 8px 16px;
    text-shadow: 0 -1px 0 black; }
  header ul.site-nav li a:hover,
  header ul.site-nav li a.current,
  header ul.site-nav li a.current:hover {
    border-radius: 18px;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
    background-color: #0e485c;
    margin-top: 20px;
    color: #fff; }
  header ul.site-nav li a.current {
    color: #8adaf6; }

.main-content-wrap {
  margin-top: 24px; }

.main-content-header {
  padding: 12px;
  margin-bottom: 12px; }
  .main-content-header h1 {
    text-shadow: 0 1px 0 white;
    font-size: 24px;
    font-weight: normal;
    color: #908a73;
    float: left; }
  .main-content-header a {
    font-size: 13px;
    padding-top: 10px;
    text-shadow: 0 1px 0 white;
    float: right; }

.main-content-container {
  background-color: #fefefe;
  border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  padding: 20px;
  min-height: 360px;
  margin-bottom: 120px; }
  .main-content-container h5 {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 2px; }
  .main-content-container #subnav-above {
    border-bottom: 2px solid #eee;
    margin-bottom: 18px; }
    .main-content-container #subnav-above ul {
      margin: 0 0 4px; }
    .main-content-container #subnav-above ul li {
      display: inline;
      margin-right: 12px; }
    .main-content-container #subnav-above ul li a {
      font-weight: bold;
      text-transform: uppercase; }
    .main-content-container #subnav-above ul li a.current {
      color: #666;
      padding-bottom: 5px;
      border-bottom: 2px solid #999; }

.column-container {
  padding: 0; }

.subnav {
  min-height: 360px;
  background-color: #FBFAF8;
  border-bottom-right-radius: 12px;
  -moz-border-radius-bottom-right: 12px;
  -webkit-border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
  -moz-border-radius-top-right: 12px;
  -webkit-border-top-right-radius: 12px;
  padding: 36px 18px 18px;
  text-align: center; }

.channel-list {
  margin-top: 8px;
  margin-bottom: 24px; }

.channel-list-item {
  margin-left: 20px;
  border-bottom: 1px solid #eee;
  padding: 12px 0; }
  .channel-list-item .channel-ident {
    float: left;
    margin-bottom: 6px; }
  .channel-list-item .channel-stats {
    clear: left;
    display: block; }
    .channel-list-item .channel-stats .stat-delimiter {
      float: left;
      height: 36px;
      width: 1px;
      margin-right: 12px;
      background-color: #ccc; }
    .channel-list-item .channel-stats .stat-container {
      float: left;
      text-align: center;
      margin-right: 12px; }
      .channel-list-item .channel-stats .stat-container .stat-number {
        font-weight: bold;
        font-size: 24px;
        line-height: 22px;
        display: block; }
      .channel-list-item .channel-stats .stat-container .stat-desc {
        font-size: 11px;
        text-transform: uppercase; }
  .channel-list-item a {
    font-size: 24px;
    font-weight: 300; }
  .channel-list-item .channel-keywords span.category,
  .channel-list-item .channel-persons span.category {
    text-transform: uppercase;
    font-weight: bold;
    color: #bbb; }
  .channel-list-item span.hashtag {
    font-size: 16px;
    margin-left: 4px;
    font-weight: normal;
    color: #666; }
  .channel-list-item .channel-keywords span,
  .channel-list-item .channel-persons span {
    font-size: 12px;
    color: #666; }

input[type="text"], input[type="password"], input[type="email"], textarea {
  padding: 7px 6px;
  font-size: 18px;
  border: 1px solid #C6C6C6;
  background-color: #F4F4F4;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 320px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
  display: block; }

.modal-container input {
  margin-bottom: 12px; }
.modal-container h2 {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 18px; }
.modal-container label {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 2px;
  font-size: 16px;
  margin-bottom: 2px;
  display: block; }
.modal-container input[type="checkbox"] {
  margin-top: 32px;
  margin-bottom: 2px; }
.modal-container .form-field.right {
  float: left;
  margin-left: 24px; }
.modal-container label.checkbox-label {
  font-weight: normal;
  font-size: 14px;
  display: inline; }
.modal-container .modal-link-container {
  clear: both;
  border-top: 1px solid #ddd;
  padding: 12px 0; }
.modal-container input[type="submit"]#user_submit {
  float: left;
  color: #456407;
  border: solid 1px #6b9a0d;
  background: #cde69c;
  background: -webkit-gradient(linear, left top, left bottom, from(#cde69c), to(#a5d24a));
  background: -moz-linear-gradient(top, #cde69c, #a5d24a);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cde69c', endColorstr='#a5d24a');
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  padding: 12px 36px;
  font-weight: bold;
  margin-top: 18px;
  margin-bottom: 24px; }
.modal-container .formfield label.error {
  display: block;
  font-size: 13px;
  margin: 0;
  margin-top: -8px;
  font-weight: normal; }

textarea {
  width: 440px;
  height: 80px; }

.field-wrap {
  padding: 18px; }

.field-wrap.first {
  padding-top: 6px; }

.field-wrap.optional-fields,
.field-wrap.emphasized-fields {
  border: 1px solid #ece8e0;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  margin-bottom: 20px;
  background-color: #fbfaf8; }

.field-wrap.emphasized-fields {
  margin-top: 24px; }

.formfield {
  position: relative;
  clear: both;
  margin-bottom: 12px; }
  .formfield .field_with_errors {
    display: inline; }
    .formfield .field_with_errors input {
      background-color: #faeeee;
      border: 1px solid #840606; }
  .formfield input.error {
    display: inline;
    background-color: #faeeee;
    border: 1px solid #840606; }
  .formfield label.error {
    color: #840606;
    display: inline;
    margin-left: 6px; }
  .formfield label, .formfield input {
    display: block; }
  .formfield input, .formfield textarea {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15); }
  .formfield .tagsinput {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15); }
  .formfield .tagsinput input {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .formfield p {
    margin-bottom: 10px;
    color: #666; }
  .formfield input.inline-field {
    display: inline; }
  .formfield .slug {
    width: 193px; }
  .formfield .slug-base {
    font-size: 14px; }
  .formfield input.colorpicker {
    color: transparent;
    border-right: solid 1px #AAA;
    border-bottom: solid 1px #AAA;
    border-top: solid 1px #CCC;
    border-left: solid 1px #CCC;
    cursor: pointer;
    float: left;
    height: 38px;
    width: 50px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    z-index: 300; }
  .formfield #colorpicker-overlay {
    position: absolute;
    top: 40px;
    left: 70px;
    background-color: #fefefe;
    -moz-box-shadow: 0 0 5px black;
    -webkit-box-shadow: 0 0 5px black;
    box-shadow: 0 0 5px black;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    padding: 18px;
    z-index: 400; }

img.layout-icon {
  display: inline-block; }

.formactions {
  clear: both;
  padding: 0 6px; }
  .formactions a.cancel-link {
    float: right;
    margin-top: 13px;
    margin-right: 12px;
    color: #999; }
  .formactions .submit-button {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #825300;
    border: solid 1px #ae7107;
    background: #d59629;
    background: -webkit-gradient(linear, left top, left bottom, from(#f7bd59), to(#d59629));
    background: -moz-linear-gradient(top, #f7bd59, #d59629);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7bd59', endColorstr='#d59629');
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    padding: 12px 36px;
    font-weight: bold;
    float: right; }

a.action-button {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  color: #456407;
  border: solid 1px #6b9a0d;
  background: #cde69c;
  background: -webkit-gradient(linear, left top, left bottom, from(#cde69c), to(#a5d24a));
  background: -moz-linear-gradient(top, #cde69c, #a5d24a);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cde69c', endColorstr='#a5d24a');
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  padding: 12px 36px;
  font-weight: bold; }

.entryfield input {
  width: 200px;
  display: inline; }

.entry-button {
  display: inline;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: solid 1px #b7b7b7;
  background: #ddd;
  background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#bbbbbb));
  background: -moz-linear-gradient(top, #eeeeee, #bbbbbb);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#bbbbbb');
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
  padding: 6px; }

a.generic-button {
  float: left;
  display: block;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: solid 1px #b7b7b7;
  background: #ddd;
  background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#bbbbbb));
  background: -moz-linear-gradient(top, #eeeeee, #bbbbbb);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#bbbbbb');
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
  padding: 6px 24px;
  font-weight: bold; }

a.generic-button.negative {
  color: #840606; }

.radiobutton-container {
  font-size: 14px; }
  .radiobutton-container input {
    display: inline; }
  .radiobutton-container span {
    margin-left: 6px;
    margin-right: 24px;
    display: inline; }
  .radiobutton-container span.layout-button {
    text-align: center;
    float: left;
    margin: 0;
    margin-right: 16px; }
    .radiobutton-container span.layout-button input {
      display: block;
      margin: 0 auto; }

.tagsinput {
  margin-bottom: 24px; }

.footer-content {
  margin-top: 80px;
  border-top: 1px solid #dedbca; }

body.modal .footer-content {
  margin-top: 80px;
  border-top: 1px solid #0c3b4b; }

.footer-links {
  border-top: 1px solid #fff; }
  .footer-links ul {
    margin-top: 24px; }
  .footer-links ul li {
    display: inline;
    margin-right: 18px;
    list-style-type: none; }

body.modal .footer-links {
  border-top: 1px solid #09516a; }
  body.modal .footer-links ul li a {
    color: #196a86;
    text-shadow: 0 -1px 0 #05303f; }
