<div id="text-container">
<div id="social-stuff">
<a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-text="I'm using Soundclash to create playlists and exercise my dominion over the musical realm. Stage your own battles at ">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script><iframe src="http://www.facebook.com/plugins/like.php?app_id=107280719361672&amp;href&amp;send=false&amp;layout=button_count&amp;width=60&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:60px; height:21px;" allowTransparency="true"></iframe>
</div>
<h1>Discover new music.<br />Build epic playlists.</h1>
<p>Summon bands and artists to go mano-a-mano against one another in a quest for your ultimate approval. Pick the winners and build a great playlist while discovering new music along the way.</p>
</div>

<div id="forms-container">


<form action="/api/search" method="post" id="search-artist">
    <label for="artist">Tell us what you're looking for and we'll round up some music for you.</label>
    <input type="text" name="desc" id="artist" />
    <input type="hidden" name="type" value="artist" />
    <input type="submit" class="button gray" value="Summon the contenders">
</form>

</div>


