<div id="text-container">
<h1>Discover new music.<br />Build epic playlists.</h1>
<p>Summon bands and artists to go mano-a-mano against one another in a quest for your ultimate approval. Pick the winners and build a great playlist while discovering new music along the way.</p>
</div>

<div id="forms-container">


<form action="/api/search" method="post" id="search-artist">
    <label for="artist">Tell us what kind of mood you're in and we'll round up some music for you.</label>
    <input type="text" name="desc" id="artist" />
    <input type="hidden" name="type" value="artist" />
    <input type="submit" class="button gray" value="Summon the contenders">
</form>

<!--
<form action="/api/similar" method="post" id="start-artist">
    <label for="artist">Artist</label>
    <input type="text" name="astr" id="artist" />
    <input type="hidden" name="type" value="artist" />
    <input type="submit" class="button gray" value="Let's go!">
</form>
-->
</div>


